.center{
   
    border: 1px solid black;
    border-radius: 10px;
    height: 450px;
    width: 250px;

    /* margin: 40%; */
}
.base{
    /* display: block;
    align-items: center; */
    display: flex;
    justify-content: center; /* X-axis */
    align-items: center;/*Y-axis*/
    height: 100%;

}
.buttons-container{
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  align-content:space-around;
  
}
.btn{
  padding:3px ;
}
.answer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    /* border: 1px solid red; */
    
  }
.p1{
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

